@font-face {
    font-family: Avant;
    src: url("C:/Users/talah/Desktop/practice/avant.otf");
}

h1{text-align: left;
    font-family: 'Avant'; 
    
}
h2{text-align: center;
    font-family: 'Avant';
    color: #3787e1;
}
p{
    font-family: 'Garamond';
    
}

body{
    background-color: #f2f2e9;
    /*background-image: url("../images/tree.png"); */ 
    background-size: 15%;
    background-repeat: space;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .center2 {
    text-align: center;
    font-weight: bold;
}
.center3{

    text-align: center;
}

.small{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.small2{

    max-width: 30%;
    height: auto;
}